.container {
    padding: 1pt;
}
#table_id th, #table_id tr td {
    text-align: center;
}
#table_id tr td:nth-child(2) {
    text-align: left;
}
.fa-medal {
    margin-right: 3pt;
}
.rank-i-1 {
    color: gold;
}
.rank-i-2 {
    color: silver;
}
.rank-i-3 {
    color: #CD7F32;
}
.rank-1 {
    font-size: 22px;
}
.rank-2 {
    font-size: 18px;
}
.rank-3 {
    font-size: 16px;
}

p.notify {
    background: lightyellow;
    padding: 4pt;
    text-align: center;
    font-weight: bold;
}

.copyright {
    text-align: center;
}

.dataTables_wrapper .dataTables_filter {
    text-align: center !important;
    float: none !important;
}

.dataTables_wrapper .dataTables_filter input {
    width: 70%;
    height: 30pt;
    font-size: 18px;
    font-family: monospace;
}

.center {
    text-align: center;
}

.red {
    color: red;
}

.bottom-0 {
    margin-bottom: 0;
}